body
{
background-color: aquamarine;
color: crimson;
}
h1
{
    text-align: center;
}
nav
{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
    

}

footer
{
    text-align: center;
    margin-right: 200px;
}

#memeImage
{
    margin-right: 500px;
}
header
{
    text-align: center;
}
    